#category{
    width: 100px;
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
    border: 2px solid rgb(57, 56, 56);
   
}

.leaderboard-list{
    list-style: none;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    display: none;
    width: 350px;
    border: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 0;
    list-style-position: inside;
}

.leaderboard{
    display: none;
}


li{
    padding: 10px;
}
 
.navbar{
    background-color: rgb(35, 35, 35) !important;
    margin-top: 1px ;
    color: beige !important;
}

.title{
    padding:10px;
}

.btn:hover{
    background-color: rgb(54, 54, 54) !important;
}
.expense-list{
    display: none;
    text-transform: capitalize;
    border: 1.5px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: fit-content;
    width: 350px;
    padding-left: 0;
    list-style-position: inside;
    
}

.expense-container{
    height:auto;
    display: none;
} 
 
.download-logs{
    border: 2px solid black;
    border-radius: 10px;
    /* display: none;*/
} 
 
#home:hover,#leaderboard-btn:hover,#download-logs:hover,#download:hover{
    background-color: rgb(61, 60, 60);
    color:rgb(255, 98, 0);
}
.download-logs {
    display: none;
}
.expense-list-header {
    display: none;
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 1.075rem;
    background-color: #2e2e2e;
    padding: 2px;
    color: #ffffff;
    list-style: none; /* Set the disc style for the header */
    
}
.leaderboard-list-header{
    font-weight: bold;
    background-color: #2e2e2e;
    padding-left: 0px;
    color: #ffffff;
    list-style: none; /* Set the disc style for the header */
}
li > span{
    margin-right: 3px;
}

#expense-form{
    width: 350px;
}
.form-control:focus {
    
    border-color: rgb(59, 58, 58) !important;
    box-shadow: 0 0 0 0.2rem rgb(44, 44, 44) !important;
}

.user-name{
    
    font-size: calc(.90rem + .9vw);
    text-transform: capitalize;
}
.user-name >i{
    margin-left: 10px;   
}

.bi-power {
    cursor: pointer;    
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
  .premium-img{
    display: none;
    margin : 5px 0px 0px 5px;
  }
  .bi-power:hover {
    background-color: #4c4c4c;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .btn-container{
    display: none;
  }
  img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
 
  