<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeaderBoard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public//css//addExpense.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <style>
        .message-alert{
        border: 1px solid #e6db55;
        background-color: #ffffe0;
        padding: 15px 30px 15px 15px;
        margin: 20px 0;
        text-align: center;
        display: none;

    }
  
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-gradient navbar-dark bg-dark">
        <h2 class="title">Expense Tracker</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse d-lg-flex justify-content-end " id="navbarSupportedContent">
            <div  >
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item text-center">
                        <button id="home" onclick="window.location.href='http://127.0.0.1:5500/views/addExpense.html'" class="btn btn-dark">Home</button>
                    </li>
                    <li class="nav-item text-center">
                        <button id="leaderboard-btn" class="btn btn-dark">Leaderboard</button>
                    </li>
                    <li class="nav-item text-center">
                        <button id="download" class="btn btn-dark">Report</button>
                    </li>
                    <li class="nav-item text-center ">
                        <button id="download-logs" onclick="showDownloadLogs()" class="btn btn-dark">Downloads</button>
                    </li>
                    <li class="nav-item"><h2 class="d-flex   justify-content-center align-content-center user-name"></h2></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5 d-flex justify-content-center flex-column align-items-center">
        
        <ul class="leaderboard-list">
            <li class="leaderboard-list-header"><span class="d-flex justify-content-center" >LeaderBoard List</span></li>
        </ul> 
        <ul class="download-logs mt-2"></ul>
    </div>
    <div class="d-flex  justify-content-center flex-column align-content-center">
        <div class="text-center message-alert">
            You are not a premium member!! click below to buy premium membership
        </div>
         
        <div class="text-center btn-container">
            <button id="rzp-button" class="btn w-50  btn-dark mt-2"><img src="../assets/images/membership-logo.png" alt="membership">Buy premium Membership</button>
                
        </div>
         
    </div>
    <script src="../public//js/premium.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>